@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --bg-some-part:#C5E9FF;
  --bg-header: #002359;
  --bg-btn:#4479A5;
  --bg-body:#96C3EA;
  --text-color:#EBF8FE;

}
html, body{
  width: 100%;
  height: auto;
}

 body,#root, .principal{
  background: var(--bg-body);
  width: 100%;
  height: auto;
  font-size: larger;
}
/* estilo logo */

.logo{
 width: 5rem;
 height: auto;

} 

/* estilo del boton*/
.div-btn button{
    padding: 0.5rem 1rem;
    border-radius: 50rem;
    background-color: var(--bg-btn);
    border: 3px solid var(--bg-some-part);
    text-align: center;
}
.div-btn button a:link,
.div-btn button a:visited,
.div-btn button a:active{
  text-decoration: none;
  color: var(--text-color);
  -webkit-text-stroke: 1.5px var(--bg-header);
  font-size: 2rem;
  font-family: 'Contrail One', cursive;
}
/* estilo del Header */
.div-header{
  background: var(--bg-header);
}
/* estilo nav */
.navbar{
  background: var(--bg-header);
}
.div-nav, .nav-link, .nav-item {
  color: var(--bg-btn);
  -webkit-text-stroke: 1.5px black;
  font-family: 'Contrail One', cursive;
  font-size: 1.8rem;
}  

/* estilo banner */
.gradient-bg-animation{
  height:auto;
  background: rgb(0,35,89);
  background: linear-gradient(207deg, rgba(0,35,89,1) 50%, rgba(235,248,254,1) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: 300% 100%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.soy, .develop, .name{
  font-family: 'Zen Dots';
  font-style: normal;
  -webkit-text-stroke: 1.5px black;
}
.soy, .develop{
  margin-left: 4rem;
  color: var(--text-color);
}
.soy, .name{
  font-size: 3.2rem;
}
.develop{
  font-size: 1.9rem;
}
.name{
  margin-left: 4rem;
  color: var(--bg-btn);
}
/* estilo photo */
.cont-photo{
  display: flex;
  justify-content: flex-end;
  padding-right: 8rem;
  margin-top: -100px;
}
.div-photo{
  width: 180px;
  height: auto;
  background: var(--bg-some-part);
  border-radius: 40px 40px 0px 0px;
}
.div-photo img{
  width: 180px;
  height: auto;
}

/* estilo acerca de mi */
.cont-acerca{
  margin-top: -150px;
}
.cont-acerca h1{
  color: var(--text-color);
  font-family: 'Zen Dots';
  font-style: normal;
  font-size: 3rem;
  -webkit-text-stroke: 1.5px white;
  
}

/* estilo nav2 */
.div-nav-dos .nav-link, .div-nav-dos .nav-link {
  color: black;
  font-family: 'Contrail One', cursive;
  font-size: 1.8rem;
}
.linea-nav{
  border-bottom: 0.5rem solid black ;
}

/* estilo quiensoy */
.quien-img{
  width: 100%;
  height: auto;
}
.quien-p{
  text-align: justify;
  color: var(--bg-header);
  font-family: 'Contrail One', cursive;
  font-size: larger;
}

/* estilo projects */
.general{
  background-color: var(--bg-some-part);
}
.mis-projects{
  font-family: 'Zen Dots';
  font-size: 48px;
  color: var(--bg-header);
  -webkit-text-stroke: 1px white;
}
.p2, .p4{
  margin-top: -50rem;
}
.img-card{
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-project img{
  width: 50%;
  height: auto;
}
.text-card h1{
  text-align: center;
  font-family: 'Contrail One', cursive;
  font-size: 2.2rem;
  color: var(--bg-btn);
  -webkit-text-stroke: 2px var(--bg-header);
}
.text-card p{
  text-align: justify;
  font-family: 'Contrail One', cursive;
  font-size: 1.5rem;
  color: var(--bg-body);
}
.text-card a{
  text-align: end;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--bg-btn);
  -webkit-text-stroke: 0.1px var(--bg-header);
}

/* estilo referencia */

.person {
  background-color: var(--text-color);
  width: 25rem;
  height: 25rem;
  --b:0.8rem;  /* border width*/
  color: #313149;
  display: inline-block;
  margin: 10px;
  aspect-ratio: 1;
  position: relative;
  z-index: 0;
}

.person:before {
  content:"";
  position:absolute;
  z-index:-1;
  inset: 0;
  background: var(--c,linear-gradient(180deg, rgba(68,121,165,1) 3%, rgba(0,35,89,1) 100%));
  padding: var(--b);
  border-radius: 50%;
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.person a{
 text-align: center;
 text-decoration: none;
 font-family: 'Contrail One', cursive;
}
.person a h1{
  color: var(--bg-btn);
  font-size: 2.1rem;
 }
 .person a p{
  color: var(--bg-header);
  font-size: 1.2rem;
 }

.person:hover {
  cursor: pointer;
  box-shadow: 0px 8px 8px #ff5900;
}



/* estilo footer */
footer{
  background: var(--bg-header);
  color: var(--text-color);
}
footer p{
  text-align: center;
}

/* media query */
@media screen and (min-width:1400px) and (max-width:1850px){
  /* estilo quiensoy */
.quien-img img{
  width: 80%;
  height: auto;
 }
 /* estilo projects */

.p2, .p4{
  margin-top: -40rem;
}
}


@media screen and (min-width:1140) and (max-width:1399px){
  /* estilo quiensoy */
.quien-img img{
  width: 100%;
  height: auto;
 }
 /* estilo projects */
.p2, .p4{
  margin-top: 0rem;
}
}

@media screen and (min-width:900px) and (max-width:1139px){
  /* estilo quiensoy */
.quien-img img{
  width: 100%;
  height: auto;
 }
 /* estilo projects */

.mis-projects{
  font-size: 40px;
}
.p2, .p4{
  margin-top: 0rem;
}
/* estilo photo */
.cont-photo{
  margin-top: -40px;
}
.soy, .name{
  font-size: 3rem;
}
.develop{
  font-size: 1.5rem;
}
}

@media screen and (min-width:699px) and (max-width:899px){
  /* estilo quiensoy */
.quien-img img{
  width: 100%;
  height: auto;
 }
 /* estilo projects */

.mis-projects{
  font-size: 40px;
}
.p2, .p4{
  margin-top: 0rem;
}
/* estilo photo */
.cont-photo{
  margin-top: -40px;
}
.soy, .name{
  font-size: 2rem;
}
.develop{
  font-size: 1.5rem;
}
/* estilo acerca de mi */
.cont-acerca h1{
  font-size: 2rem;
}
}

@media screen and (min-width:400px) and (max-width:698px){
  /* estilo quiensoy */
.quien-img img{
  width: 100%;
  height: auto;
 }
 /* estilo projects */

.mis-projects{
  font-size: 40px;
}
.p2, .p4{
  margin-top: 0rem;
}
/* estilo photo */
.cont-photo{
  display: flex;
  justify-content: center;
  padding-right: 0rem;
  margin-top: -40px;
}
.soy, .name{
  font-size: 2rem;
}
.develop{
  font-size: 1.5rem;
}
/* estilo acerca de mi */
.cont-acerca{
  margin-top: -50px;
}
.cont-acerca h1{
  font-size: 1.8rem;
}
}

@media screen and (min-width:200px) and (max-width:399px){
  /* estilo quiensoy */
.quien-img img{
  width: 100%;
  height: auto;
 }
 /* estilo projects */

.mis-projects{
  font-size: 40px;
}
.p2, .p4{
  margin-top: 0rem;
}
/* estilo photo */
.cont-photo{
  display: flex;
  justify-content: center;
  padding-right: 0rem;
  margin-top: -40px;
}
.soy, .name{
  font-size: 1.8rem;
}
.develop{
  font-size: 1.2rem;
}
/* estilo acerca de mi */
.cont-acerca{
  margin-top: -50px;
}
.cont-acerca h1{
  font-size: 1.5rem;
}
}